#about {
    background-color: white;
}

.about-content {
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-text p {
    color: var(--text-light);
}

.skills-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

@media (max-width: 992px) {
    .about-content {
        flex-direction: column;
    }
}